.device {
  background: linear-gradient(180deg, #277BC0 0%, #4890CB 100%);
  color: $color-white;
  font-size: 17px;
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @media (min-width: $md) {
      gap: 48px;
    }
    @media (min-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
  &__card {
    color: $color-black;
    border-radius: 22px;
    background: rgb(255,222,122);
    background: radial-gradient(circle, rgba(255,222,122,1) 0%, rgba(255,192,0,1) 100%);
    text-align: center;
    box-shadow: 3px 3px 10px rgba($color: #000, $alpha: .2);
    border: 6px solid $color-white;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: transform .3s ease-out;
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      transform: scale(1.05);
      > .device__img {
        transform: scale(1.2);
      }
      > .device__para {
        opacity: 1;
      }
    }
  }
  &__img {
    transition: transform .3s ease-out;
  }
  &__para {
    opacity: .5;
    > p {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      @media (min-width: $md) {
        bottom: 20px;
      }
    }
    .front {
     color: $color-black;
    }
    .outline {
      -webkit-text-stroke: 5px white;
      user-select: none;
    }
  }
}